NetBeansProjects/BrokerJSPClient/web/WEB-INF/wsdl/localhost_8080/BrokerWS/BrokerWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Calculator.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Calculator.me.org/">

<xs:element name="FileNotFoundException" type="tns:FileNotFoundException"/>

<xs:element name="userInput" type="tns:userInput"/>

<xs:element name="userInputResponse" type="tns:userInputResponse"/>

<xs:complexType name="userInput">
<xs:sequence>
<xs:element name="firstQuery" type="xs:string" minOccurs="0"/>
<xs:element name="secondQuery" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userInputResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>